#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name[en_GB]=pihpsdr
Exec=/home/pi/pihpsdr/start_pihpsdr.sh
Name=pihpsdr
Icon=/home/pi/pihpsdr/hpsdr_icon.png
